# Ignore all
**

# Allow git
!.gitignore
!README.md
!.github/
!.github/*

# License
!LICENSE

# Allow all python src
!app/
!app/*
!app/**/*

# Remove venv files in app
app/venv

# Add UI files
!ui/
!ui/**

# Remove
pycache_/
