# Ignore all
**

# Allow git
!.gitignore
!README.md
!.github/
!.github/*

# License
!LICENSE

# Python API rules
!app/
!app/*
!app/**/*
app/venv
app/__pycache*
app/**/__pycache*

# React UI rules
!ui/
!ui/**
ui/node_modules
ui/.eslintcache
